{% extends "base.html" %}
{% block content %}
    <div class="container systemstyle">
        <div class="panel float-left systemstyle">
            <div style="height: 400px; overflow-y: scroll; margin-bottom:30px;">
            <table class="table table-striped">
                <tbody>
                    <tr>
                    <th class="w-5">Edit</th>
                    <th class="w-30">Display</th>
                    <th class="w-30">First</th>
                    <th class="w-30">Middle</th>
                    <th class="w-30">Last</th>
                    <th class="w-30">Title</th>
                    <th class="w-30">Company</th>
                    </tr>
                {% for item in data %}

                    <tr>
                    <td><a href="/employee/{{ item.id}}">Edit</a></td>
                    <td>{{ item.display }}</td>
                    <td>{{ item.first }}</td>
                    <td>{{ item.middle }}</td>
                    <td>{{ item.last }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.name }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            </div>

            <a class="btn btn-primary" href="{{ url_for('add_employee') }}" role="button">Add New</a>
        </div>
    </div>
{% endblock %}